 .layui-footer {
     text-align: center;
     font-style: 12px;
 }
 
 .iconfont {
     margin-right: 8px;
 }
 
 .layui-icon {
     margin-left: 20px;
     margin-right: 8px;
 }
 
 iframe {
     height: 100%;
     width: 100%;
 }
 
 .layui-body {
     overflow: hidden;
 }
 
 a {
     transition: none!important;
 }
 
 .userInfo {
     height: 60px;
     line-height: 60px;
     text-align: center;
     font-style: 12px;
 }
 
 .layui-side-scroll .userInfo {
     user-select: none;
     border-bottom: 1px solid #252b33;
 }
 
 .text-avatar {
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: #009688;
     border-radius: 50%;
     line-height: 40px;
     font-size: 20px;
     color: #fff;
     position: relative;
     top: 4px;
     margin-right: 10px;
 }
 
 .layui-nav-img {
     height: 40px;
     width: 40px;
 }